build
*_build
cmake-build*
.vscode

*.pyc
sec_core_img.c
*.o
*.idx

docs/build/*
docs/source/en/samples/*
docs/source/en/snippets/*
!docs/source/en/snippets/verified_samples_en.rst
docs/source/en/CHANGELOG.md
docs/source/zh/samples/*
docs/source/zh/snippets/*
!docs/source/zh/snippets/verified_samples_zh.rst
docs/source/zh/CHANGELOG.md


