# Copyright (c) 2025 HPMicro
# SPDX-License-Identifier: Apache-2.0

config TOOLCHAIN_ZZC_SUPPORTS_THREAD_LOCAL_STORAGE
	depends on RISCV
	def_bool y
	select TOOLCHAIN_SUPPORTS_THREAD_LOCAL_STORAGE

config STATIC_INIT_GNU
    default y

config BUILD_NO_GAP_FILL
    default y